.card-container {
  width: calc(95% - 4px);
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.category-card {
  background: #fff;
  box-shadow: 0 0 7px 0 #e2e2e2;
  position: relative;
  width: calc(50% - 8px);
  margin: 4px;
  padding: 8px;

  h3 {
    margin-top: 8px;
  }
}